
.menu { display:block; background-color:#f0f0f0; width:1200px; height:40px; margin:0 auto; padding:0; }
.when, .what, .how { display:inline-block; vertical-align:top; font-size:20px; font-weight:bold; font-style:normal; color:grey; line-height:40px; margin:0; padding:0 5px;}
.when { background-color:#fffff0; }
.what { background-color:#fff0ff; }
.how  { background-color:#f0ffff; }
a { display:inline-block; color:black; text-decoration:none; }
a.on { color:grey; }
.menu img, .menu a img { height:40px; }
a.link { color:black; font-style:italic; }
a:hover.link { color:grey; }
