/*
Author: Benjamin Ninassi
Author URI: 
Description: Le theme wordpress de pixees.fr modifié par SEISM pour classcode
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@charset "UTF-8";

/* -------------------- General aspect -------------------- */

html {background-color:#999999;}
body {
  width:1200px;
}

li { 
  padding-bottom: 8px;
}

/* login page */

body.login{
  width:640px;
  min-width:640px;
  height: auto;
  margin: 50px auto;
}

.required, .red{
  color:red;
}
.classcode{
  width:1200px;
}
#flashMessage{
  background-color:#FECD1B;
  font-size:16px;
  text-transform:uppercase;
  font-weight:bold;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px; 
}

/* Help tooltip */
.helptooltip {
    position: relative;
    display: inline-block;
}
.helptooltip-top::after {
    border-color: #266D83 transparent transparent; 
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}
.helptooltip-top {
    bottom: 100%;
    left: 50%;
    margin-left: -132px;
}
.helptooltip .helptooltiptext {
    visibility: hidden;
    width: 250px;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    background-color:#266D83;
    position: absolute;
    z-index: 1;
    transition: opacity 1s ease 0s;
}
.helptooltip:hover .helptooltiptext {
    visibility: visible;
}
.helpImg{
  vertical-align:middle;
  padding: 0px 5px; 
  height:18px;
}
.helpImg2{
  vertical-align:middle;
  padding-left: 5px;
  height:28px;
}
.helptooltiptext > a { 
 color:white;
}
.helptooltiptext > a:hover { 
 color:#C0C0C0;
}

#login {
  width:auto;
  padding: 0 0 0;
}
#login h1{
  display:none;
}
#loginLogo img{
  height: 100px;
}
#loginLogo {
  background-color:#26CFCF;
  width: 100%;
  color: black;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-bottom:40px;
}
.login form .input, .login input[type="text"] {
  font-size:14px;
  margin-top:10px;
}
#registerform, #loginform{
  margin-top:0px;
}
#nav{
  display:none;
}

#loginFooter{
  background-color:#26CFCF;
  padding:10px 60px 30px 60px;
  font-style:italic;
  text-align:left;
  color:white;
}

#loginFooter a{ 
  text-decoration:none;
  font-weight:bold;
  color:white;
}

#registerform, #loginform{
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  background-color:#ECECEC;
  
}
#registerform br, #loginform br{
  display:none;
}

#registerform label, #loginform label{
  display:inline-block;
  padding-left:50px;
  font-weight:bold;
  color:#266D83;
  height:40px;
  margin-bottom:5px;
  position:relative;
}

#loginform p.forgetmenot label{
  padding-left:220px;
  font-size: 14px;
}

.wmcaptcha_fieldbox_img {
  padding-left:300px;
}
.wmcaptcha_box {
  position:relative;
}
#registerform p.wmcaptcha_box input{
  top:0px;
}

body.login div#login form#loginform{
  width:auto;
}

#login form p#reg_passmail{
  text-align:center;
  margin-bottom:10px;
  color:#999;
}
#registerform input, #loginform input{
  width:250px;
  position:absolute;
  left: 250px;
  top:-15px;
  
}
.login form#loginform  .forgetmenot input#rememberme{
  top:8px;
  width:auto;
  left: 200px;
}
#login_error{
  font-weight:bold;
  color:red;
}
.login .button-primary, .login form .forgetmenot {
  float:none;
}
#login form p.submit {
  display:block;
  background-color:#266D83;
  text-align:center;
}
#registerform input#wp-submit, #loginform input#wp-submit, #resetpassform input#wp-submit, #lostpasswordform input#wp-submit{
  background-image:url("_img/classcode_pictos/i-navtop-utilisateur.png");
  background-repeat:no-repeat;
  background-position:10px 50%;
  border:solid 1px;
  border-color:white;
  border-radius:0px;
  background-color:#266D83;
  margin:5px 0 3px 0;
  line-height:10px;
  width:300px;
  min-height:35px;
  height:35px;
  position:static;
}
#resetpassform input#wp-submit{
  background-position:10px 50%;
}

#pass-strength-result.strong{
  background-color: #54ca90;
}
.wp-core-ui .button.button-large{
  height:20px;
}
/* ClassCode */
.classCodeBlue{
  color:#26CFCF;
}

#top-link-bar {
  background-color:#5D5E5E;
  width: 1200px;
  font-weight:bold;
  border-style: solid;
  border-color: white;
  border-width: 0 0 2px 0;
  position:fixed;
  z-index:1200;
  font-size:0;  
}
.top-link-bar-admin{
  top:32px;
}
.top-link-bar-default{
  top:0px;
}
#top-link-bar ul {  
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type:none;  
  text-align: left;

}
#top-link-bar ul li{  
  display: inline-block;
  font-size: 16px;
}
#top-link-bar ul li a {  
  display: inline-block;
  color:white;
  padding-top:0px;
}
#top-link-bar ul li a:hover{  
  background-color:#B3B3B3;
}
#top-link-bar ul#primary-top-link-list {
  background-color:#49C2C6;
  height:100%;
}
#top-link-bar ul#tertiary-top-link-list {
  background-color:#49C2C6;
  height:100%;
}
#top-link-bar ul#secondary-top-link-list{
  background-color:#296E84;
  height:100%;
}
#top-link-bar ul li.login > a {
  padding-top:0px;
}
.login {
  color:white;
}
.login > a {
  text-transform: uppercase;
  padding: 0 10px 0 10px;
  position: relative;
  display: inline-block;
}
.toplinkbarimgHome, .toplinkbarimgMenu {
  vertical-align:middle;
  padding-left: 5px;
  height:26px;
}
.toplinkbarimgLogin{
  vertical-align:middle;
  padding-left:5px;
  padding-top:5px;
  height:26px;
}
.toplinkbarimgHome{
  
}
.toplinkbarimgMenu{

}
.toplinkbarimgLogin{
}
.pull-right{
  float:right;
}
#toplink-classcode-menu { 
  background-color:#5D5E5E;
  height:46px;
  line-height:46px; 
  font-size: 16px;
  padding: 0px 4px !important;
}
#toplink-classcode-menu li {
  padding: 0px 3px;
}
#toplink-classcode-menu li .active {
 color:#49C2C6;
}
#loginDropdown{
  background-color:#296E84;
  max-width:180px;
}
#loginDropdown a {
  display:block; 
  line-height:28px;
  height:26px;
  font-size:18px;
  min-width: 80px;
  text-align: left;
}
#formationDropdown{
  background-color:#5D5E5E;
  max-width:500px;
}
#formationDropdown a {
  display:block; 
  color:white;
  line-height: 26px;
  font-size:14px;
  min-width: 80px;
  text-align: left;
}

@media (max-width:900px) {
 #top-link-bar ul#primary-top-link-list { display:none; }
 #top-link-bar ul#tertiary-top-link-list { display:none; }
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 0px;
    text-decoration: none;
    text-align:right;
    display: block;
    border-top: 1px solid white;
    width: 100%;
}
.dropdown-content a span{
  padding-right : 10px;
  padding-left: 10px;
}
.show {display:block;}

#linkbar {
  background-color:#49C2C6;
  width: 100%;
  color: black;
  margin-top: 80px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
#linkbar img {
  padding: 0px;
  height: 180px;
}

#classcode-ariane{
  background-color:#ECECEC;
}
#classcode-ariane ul{
  list-style-type:none; 
  display:inline-block;  
  margin: 5px 0 5px 0;
  padding-left:110px;
}
#classcode-ariane ul li{
  display:inline-block;  
  
}
.classcode > p{
  margin:0px;
}
/* menu */
#classcode-menu-bar span.active{
  color: #26CFCF;
}
#classcode-menu-bar{
    height: auto;
    margin: 0;
    min-height: 40px;
    padding: 0;
    background-color: #5D5D5D;  
    width: 100%;
}
#classcode-page-menu-bar{
    height: auto;
    margin: 0;
    min-height: 40px;
    padding: 0;
    background-color: #49C2C6;
    width: 100%;
}
#classcode-menu{
  display: initial;
  height: 40px;
  margin: 0;
  padding-left: 10px;
  font-weight: bold;
}
#classcode-menu ul {  
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 0 0 0 100px;
}
#classcode-menu ul li{
  color:white;
  font-size: 16px;
  display: inline-block;
  line-height: 40px;
}
#classcode-menu-bar ul li a{  
  display: inline-block;
  color:white;
  padding: 0 5px 0 5px;
}
#classcode-page-menu-bar ul li a{  
  display: inline-block;
  color:white;
  padding: 0 15px 0 5px;
}
#classcode-menu ul li a:hover{  
  background-color:#B3B3B3;
}

/* content */
h2{
  color: #266D83;
  font-size:30px;
  margin: 0;
  padding: 20px 0;
}

.clear{
  clear:both;
}

#contenu{
  padding:0px;
}
#contenant{
  padding:0px;
}
.contentMedia{
  display:inline-block;
  width: 60%;
  font-size:16px;
  
}
.contentDesc{
  width:39%;
  display:inline-block;
  vertical-align: top;
  font-size:14px;
  padding-left:1%;

}
#contentTitle{
  font-size : 0;
  background-color:#26CFCF;
}
#contentTitleImage{
  height:400px;
}
#contentTitleImage  img {
  padding:0px;
  width: 100%;
  height:100%;
}
#contentTitleFooter{
  height:40px;
  font-size : 0;
  background-color:#266D83;
}
#contentTitleImageFooter{
  background-color:#26CFCF;
  height: 100%;
}

#contentTitleResume{
  text-align:left;
  padding-top:10px;
  background-color:white;
}
#signin{
  height: 100%;
  background-image:url("_img/classcode_pictos/i-navtop-utilisateur.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
  background-color:#266D83;
  color:white;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  line-height:40px;
  
}
#signin a{
  color:white;
  text-decoration:none;
  display:block;
  padding-left:70px;
}
#signinno{
  height: 100%;
  background-repeat:no-repeat;
  background-position:5% 50%;
  background-color:#266D83;
  color:white;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  line-height:40px;
  
}
#profilSubmitFooter a:hover,#classCodeMeetingSubmitFooterMultiple a:hover,#classCodeMeetingSubmitFooter a:hover,#classCodeMeetingContactGroupe a:hover,#signin a:hover,#meetingContact:hover,#profilSubmit:hover,#myLocationDisplay > #gmw-your-location-wrapper > #gmw-yl-form > #gmw-yl-manuall-section > #gmw-yl-tabs-section > #gmw-yl-address-tab-btn-wrapper > input#gmw-yl-get-latlng:hover, #myLocationDisplay input#gmw-yl-get-address:hover {
  background-color:#B3B3B3;
  cursor: pointer;

}
#profilSubmitFooter a:hover,#classCodeMeetingSubmitFooter a:hover {
  background-image: url("_img/classcode_pictos/profil/i-modifier.png");
  background-position: 465px center;
  background-repeat: no-repeat;
}

#signin a:hover{
  background-image:url("_img/classcode_pictos/i-navtop-utilisateur.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
}

#guidedTour{
  background-color:#ECECEC;
  background-image:url("_img/classcode_pictos/img-bigboussole.png");
  background-repeat:no-repeat;
  background-position:left top;
  padding-top:10px;
  padding-bottom:30px;
  font-size : 0;
}

#guidedTour h2{
  padding-left:16%;  
}
.guidedTourBloc{
  display:inline-block;
  background-color:#38AEF7;
  height:250px;
  width:20%;
  padding-left:10px;
  padding-right:10px;
  text-align:left;
  vertical-align: top;
}
.guidedTourBloc a { 
  color:#FFF;
}
.guidedTourBloc a:hover { 
  color:#808080;
}
#guidedTour h3{
  text-transform: uppercase;
  font-weight:bold;
  font-size: 20px;
}

#guidedTour1{
  margin-left:16%;
  background-image:url("_img/classcode_pictos/classcode_ecrans/public-01.png");
  background-repeat:no-repeat;
  background-position:right bottom;  
}
#guidedTour2{
  margin-left:1%;  
  margin-right:1%;
  background-image:url("_img/classcode_pictos/classcode_ecrans/public-02.png");
  background-repeat:no-repeat;
  background-position:right bottom;  
}
#guidedTour3{
  margin-right:16%;  
  background-image:url("_img/classcode_pictos/classcode_ecrans/public-03.png");
  background-repeat:no-repeat;
  background-position:right bottom;
}

#moocs{
  background-image:url("_img/classcode_pictos/img-cours.png");
  background-repeat:no-repeat;
  background-position:left top;
  padding-top:10px;
  padding-left:16%;  
  padding-right:16%;
}

#moocs h2{
  padding-bottom:0px;
}

.moocsBloc{
  background-color:#ECECEC;
  font-size:14px;
  position: relative;
  padding:0px;
  height:180px;

}

.moocsMedia{
  width:30%;
  display:inline-block;
  height:150px;
  padding:0px;
  margin:0px;
}
.moocsMedia img{
  padding:0px;
  height:150px;
  
}

.moocsDesc{
  display:inline-block;
  width:60%;
  vertical-align: top;
  padding-top:10px;
  text-align:left;
  
}
.moocsDesc_content{
  padding-left:10px;
}
.moocsDesc_grey_module_box{
  display:block;
  width:100%;
  background-color:#999999;
  color:white;
  font-weight:bold;
  font-size:16px;
  padding:5px 0px 5px 50px;
  margin-top:2px;  
}
a.moocsDesc_grey_module_box:hover{
  background-color:#5D5D5D;
  cursor:pointer;
}
.openClassroomLink{
  background-image: url("_img/classcode_pictos/img-17.png"),url("_img/classcode_pictos/img-19.png");
  background-position:  10px 6px,95% 6px ; 
  background-repeat: no-repeat,  no-repeat ;

}
.meetingListLink{
  background-image: url("_img/classcode_pictos/img-18.png"),url("_img/classcode_pictos/img-20.png");
  background-position:  10px 6px,95% 6px ; 
  background-repeat: no-repeat,  no-repeat ;
}
.moocsBloc h3{
  background-color:#266D83;
  color:white;
  padding:5px;
  margin-bottom:0px;
}
.moocsOpeningText{
  background-color:  #FECD1B;
  font-size:14px;
  padding-left:15px;
  width:200px;
  line-height:18px;
  display: block;
}
.moocsOpening{
  height:33px;
  position:absolute;
  bottom: 5px;
  left: -15px;
  background-image:url("_img/classcode_pictos/openingBackground.png");
  background-repeat:no-repeat;
  background-position:0px 18px;
}

#certificate{
  background-color:#FECD1B;
  background-image:url("_img/classcode_pictos/i-attestation.png");
  background-repeat:no-repeat;
  background-position:15px 15px;
  margin-top:10px;
  margin-left:16%;  
  margin-right:16%;
  padding-left:120px;
  padding-bottom:30px;
}

#certificate h2{
  color:black; 
  padding-bottom:0px;
}
#certificate p{
  margin:0;
}

#meeting{
  margin-top:20px;
  font-size: 0;
}
#meeting h2{
  padding-left: 16%;
  padding-bottom:10px;
}
#meetingTitle{
  background-image:url("_img/classcode_pictos/img-rencontre-10.png");
  background-repeat:no-repeat;
  background-position:0% 100%;
  padding-bottom:20px;
  min-height:125px;
}
#meetingTitle > p{
  padding-left: 16%;
  padding-right:16%;
  font-size: 14px;
  margin-top:0px;
  margin-bottom: 0px; 
}

.green{
  color: #54CA90;
  font-weight:bold;
}

.meetingBloc{
  border-top: 20px solid;
  border-color: #54CA90;
}

.meetingBlocMedia{
  
}
.meetingBlocMedia  img {
  padding:0px;
  width: 100%;
  height:100%;
  
}

.meetingBlocDesc{
  padding-right:40px;
  text-align:left;
  padding-top:10px;
  padding-left:20px;
}

#meetingFooter{
  height:40px;
  font-size : 0;
  background-color:#266D83;
}

#meetingMediaFooter{
  background-color:#54CA90;
  height: 100%;
}

#meetingContact{
  height: 100%;
  background-image:url("_img/classcode_pictos/i-contact-13.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
  background-color:#266D83;
  color:white;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  line-height:40px;
}

#meetingContact a{
  color:white;
  text-decoration:none;
  display:block;
  padding-left:70px;
}

#resources{
  background-color:white;
  background-image:url("_img/classcode_pictos/img-ressources-14-bis.png");
  background-repeat:no-repeat;
  background-position:left top;
  padding-top:10px;
  padding-bottom:30px;
  font-size : 0;
}

#resources h2, #resources p{
  padding-left:16%;  
  padding-right:16%; 
}

#resources h3{
  text-transform: uppercase;
  font-weight:bold;
  font-size: 20px;
}

.resourcesBloc{
  display:inline-block;
  background-color:#26CFCF;
  height:250px;
  width:20%;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:20px;
  text-align:left;
  vertical-align: top;
  background-image:url("_img/classcode_pictos/resources_background.png");
  background-repeat:no-repeat;
  background-position:right bottom;
  /*background-size: 200px;*/
}

#resources .resourcesBloc > p{
  margin-bottom:0px;
  padding-left:0px;  
  padding-right:10px;
}

#resources .resourcesBloc p a{
  text-decoration: none;
}

.resourcesBloc1{
  margin-left:16%;
}

.resourcesBloc2{
  margin-left:1%;  
  margin-right:1%;
}
.resourcesBloc3{
  margin-right:16%;  
}

/* Style des ressources Class'Code */

.openClassroomLink2 { 
  background-image: url("_img/classcode_pictos/img-17.png"),url("_img/classcode_pictos/img-19.png");
  background-position:  10px 6px,95% 6px ; 
  background-repeat: no-repeat,  no-repeat ;
  display:block;
  width:350px;
  background-color:#999999;
  color:white;
  font-weight:bold;
  font-size:16px;
  padding:5px 0px 5px 50px;
  margin-left: 250px;
  margin-top:25px;  
}

.moduleRessources { 
 clear:both;
 margin-right:10px;
}
.moduleRessources h2 { 
  background-color:#26CFCF;
  text-transform: uppercase;
  font-weight:bold;
  color:white;
  font-size:18px;
  height:35px;
  line-height:35px;
  width:900px;
  margin:10px 0px 0px 0px ! important;
  padding:0px ! important;
}
.moduleRessources p {
  display:block;
  width:880px;
  height:35px;
  line-height:35px;
  background-color:#edf3f4;
  color:black;
  font-size:16px;
  margin:0px ! important;
  padding:0px 10px ! important;
}
.moduleRessources p.odd {
  background-color:#fff;
}
.moduleRessources p:hover {
  background-color:#fecd1b;
}
.moduleRessources p a { 
  font-weight:bold;
  color:#266d83;
}

/* partners */
#who{
  font-size : 0;
}

#who h2, #who p, #partnersList{
  padding-left:16%;  
  padding-right:16%; 
}

#who p{
  font-size : 14px;
  text-align:left;
}
 
#who p a{
  font-weight:bold;
  text-decoration:none;
  color:black;
}

.partner{
  display:inline-block;
  width:18%;
  vertical-align: top;
  height:80px;
  padding:5px;
  margin-bottom:10px;
}

.partner img{
  max-height:80px;
 
}

.classCodePartner{
  text-align:center;
  font-size:14px;
   
  
}
.classCodePartnerImg{
  width:240px;
  display:inline-block;
}
.classCodePartnerImg img{
  padding:0px; 
}
.classCodePartnerDesc{
  vertical-align: top;
  width:20%;
  display:inline-block;
  padding-top:25px;
  text-align:left;
  color:#266D83;
}


/* footer */
#footer{
  font-size:0px;
}
#classcode_footer_logo{
  background-color:white;
  height:75px;
}
#classcode_footer_logo img{
  padding:0px; 
}
#classcode_footer {
  background-color:#26CFCF;
  color:black;
  height:430px;
  
}
#classcode_footer  a{
  color:black;
}
#classcode_footer  a:hover{
  color:white;
}
#classcode_footer_title{
  padding-left:160px;
  padding-top:50px;
  padding-bottom:20px;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 29px;
}
#classcode_footer_content{
  padding-top:20px;
  padding-left:160px;
  padding-right:160px;
  padding-bottom:20px;
  text-transform:none;
  font-size:14px;

}
#classcode_footer_mail{
  text-transform:none;
  font-weight:bold;
  font-size:22px;
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
}

#class_code_footer_link{
  padding-top:20px;
  padding-bottom:40px;
  text-align: center;
}
#class_code_footer_bar{
  background-color:#5D5D5D;
  color:white;
  background-image:url("_img/classcode_pictos/header-cc-01.png");
  background-repeat:no-repeat;
  background-position: 15% 50%;
  background-size: 300px;
}

#class_code_footer_bar a{
  color:white;
  text-decoration:none;
  text-transform: none;
}
#class_code_footer_bar_links{
  list-style-type:none; 
  text-align:right;
  padding-right:100px;
  padding-top:20px;
  padding-bottom:20px;
  font-weight:bold;
}
#class_code_footer_bar_links a:hover{
  background-color:#b3b3b3;
}

#classcode_footer_doc{
  height:80px;
  width:81px;
  background:url("_img/classcode_pictos/i-aide_black.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
}
#classcode_footer_doc:hover{
  background:url("_img/classcode_pictos/i-aide_blanc.png");
  background-repeat:no-repeat;
  background-position: 0% 0%; 
}
#classcode_footer_email{
  height:80px;
  width:84px;
  background:url("_img/classcode_pictos/i-aidemail_black.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
}
#classcode_footer_email:hover{
  height:80px;
  width:84px;
  background:url("_img/classcode_pictos/i-aidemail_blanc.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
}
#classcode_footer_phone{
  height:80px;
  width:85px;
  background:url("_img/classcode_pictos/i-aidephone_black.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
}
#classcode_footer_phone:hover{
  height:80px;
  width:85px;
  background:url("_img/classcode_pictos/i-aidephone_blanc.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
}
#classcode_footer_visio{
  height:80px;
  width:84px;
  background:url("_img/classcode_pictos/i-aidevisio_black.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
}
#classcode_footer_visio:hover{
  height:80px;
  width:84px;
  background:url("_img/classcode_pictos/i-aidevisio_blanc.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
}

/* profil */
#avatarTd{
  border:1px solid;
  border-color:grey;
}
#avatarTd div img{
  padding:0px;

}
#hello{
  font-size:16px;
  color:#266D83;
  font-weight: bold;
  padding-left:10px;
  vertical-align: bottom;
  min-width: 300px;
}
.displayName{
  font-size: 30px;
}
#profilHeader{
  height:100%;
  font-size: 0;
  background-color: white;
  text-align:center;
}
#profilActions{
  text-transform: uppercase;
  background-color:#38AEF7;
  height:100%;
  padding-bottom:1px;
  background-image:url("_img/classcode_pictos/profil/img-guide.png");
  background-repeat:no-repeat;
  background-position: 0% 50%;
  min-height:440px;
  text-align:left;
}
#profilDisplay{
  background-color:white;
  min-height:440px;
  text-align:left;
}
.profilActionsView{
  display:inline-block;
  width: 20%;
  
}
#profilActions h2{
  color:white;
  padding-left:190px;
  padding-top:32px;
  padding-bottom:40px;
}

#profilSubmit{
  height: 100%;
  background-image:url("_img/classcode_pictos/profil/i-modifier.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
  background-color:#266D83;
  color:white;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  line-height:40px;
}

#profilSubmit a{
  text-transform: uppercase;
  color:white;
  font-weight:bold;  
  display: block;
  padding-left: 70px;
  text-decoration: none;
  font-size: 16px;
}
#profilActionsFooter{
  background-color:#38AEF7;
  height: 100%;
}
#profilFooter, #classCodeMeetingFooter, #classCodeMeetingTierceFooter,#classCodeMeetingMainFooter{
  height:40px;
  font-size : 0;
  background-color:#266D83;
}
#classCodeMeetingFooter{
  margin-top:40px;
}
.classCodeMiniGreen{
  border-color:#54CA90;
  color:white;
  background-color:#54CA90;
}
.classCodeMiniBlue{
  border-color:#38AEF7;
  color:white;
  background-color:#38AEF7;
}
.classCodeMiniDarkBlue{
  border-color:#266D83;
  color:white;
  background-color:#266D83;
}
.classCodeMiniPink{
  border-color:#FF90F3;
  color:white;
  background-color:#FF90F3;
}
.classCodeMiniProfil{
  border-width:2px;
  border-style:solid;
  width:120px;
  text-align:center;
  margin:10px;
  display:inline-block;

}
.classCodeMiniAvatar{
    padding-left:10px;
  background-color:white;
}
.classCodeMiniName{
  border-top-width:2px;
  border-top-style:solid;
}


.whiteRectangle{
  background-color:white;
  color:#266D83;
  height: 80px;
  margin-top:10px;
  margin-left:260px;
  margin-right:2px;
  padding-left:20px;
  padding-top:20px;
  font-weight:bold;
  display:block;
  
}
.blueRectangle{
  background-color:#38AEF7;
  height:40px;
  background-image:url("_img/classcode_pictos/profil/i-education.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
  
}
.blueRectangle1{
  background-color:#38AEF7;
  height:40px;
  background-image:url("_img/classcode_pictos/profil/i-autre.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
  
}
.blueRectangle2{
  background-color:#38AEF7;
  height:40px;
  background-image:url("_img/classcode_pictos/profil/i-informatique.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
  
}
.blueRectangle div{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left: 60px;
    line-height: 40px;
}
.blueRectangle1 div{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left: 60px;
    line-height: 40px;
}
.blueRectangle2 div{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left: 60px;
    line-height: 40px;
}
.greyRectangleSkills {
  height:30px; 
  color:white;
  text-transform: capitalize;
  font-weight:bold;
  display:inline-block;
}
.greyRectangleSkills div{
  background-color:#999999;
  line-height:25px;
  padding:0px 5px;
}
#profilAction1{
  background-image:url("_img/classcode_pictos/profil/img-guide1.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#profilAction2{
  background-image:url("_img/classcode_pictos/profil/img-guide2.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#profilAction3{
  background-image:url("_img/classcode_pictos/profil/img-guide3.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}

.bigNumber{
  font-size:50px;
  font-weight:bold;
  margin-right:20px;
}

#profilMain{
  background-image:url("_img/classcode_pictos/profil/cadenas.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  padding-bottom:30px;
}

#profilMain h2{
  padding-left:160px;
}
#editAvatar{
  margin-left: 160px;
  background-color:white;
  padding:0px;
  border-color:#38AEF7;
  border-style: solid;
  border-width: 1px;
  
}
#buddypress #editAvatar label{
  text-transform: uppercase;
  background-color:#38AEF7;
  margin:0;
  padding: 10px;
  margin:0px;
  text-align: center;
  
}
#editCredential{
  margin-left: 5px;
  margin-right: 5px;
}
#editName{

}
.blueSquare{
  background-color: #38AEF7;
  display: inline-block;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  vertical-align: top;
  width: 285px;
  color:white;
}
#profilSecondary{
  background-image:url("_img/classcode_pictos/profil/img-profil.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  background-color:#38AEF7;
  padding-bottom:30px;
}

#profilSecondary h2{
  padding-left:160px;
  color:white;
}

.whiteSquare{
  background-color: white;
  display: inline-block;
  height: 250px;
  text-align: left;
  vertical-align: top;
  width: 310px;
  color:#266d83;
  font-weight:bold;
}
.whiteSquareTitle{
  background-color:#38AEF7;
  display:block;
  text-transform: uppercase;
  font-weight:bold;
  font-size:16px;
  color:white;
  height:40px;
  line-height:normal;
}
#editEducation .whiteSquareTitle{
  background-image:url("_img/classcode_pictos/profil/i-education.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
}
#editComputerSkills .whiteSquareTitle{
  background-image:url("_img/classcode_pictos/profil/i-informatique.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;

}
#editOther .whiteSquareTitle{
  background-image:url("_img/classcode_pictos/profil/i-autre.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;

}
.whiteSquare > input{
  margin-left:10px;
}

.whiteSquareTitle h3{
  padding-left:40px;
  padding-top:10px;
  margin:0px;
}
#editEducation{
  margin-left: 160px;
}
#editComputerSkills{
 /* margin-left: 5px;
  margin-right: 5px;*/
}
#editOther{
}

#editSkills{
  margin-top:20px;
  margin-left:160px;
  margin-right:155px;
  background-color:white;
}
#editSkills .whiteSquareTitle{
  background-image:url("_img/classcode_pictos/profil/i-competences.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
}

#skillExample{
  margin-left:160px;
  margin-right:155px;
  margin-top:5px;
}

#myLocation{
  background-image:url("_img/classcode_pictos/profil/img-lieu.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  padding-bottom:40px;
  height:680px;
}
#myLocationHeader{
  height:157px;   
  border-bottom:20px solid;
  border-bottom-color:#38AEF7;
}
#myLocation h2{
  padding-left:160px;
}
#myLocationDisplay{
  height:450px;
}
#myLocationDisplay #your-location-section{
  display:none;
}
#myLocationDisplay #gmw-your-location-wrapper{
  position:relative;
}

#myLocationDisplay #gmw-yl-form{
  display:block; 
  position:relative;
  padding:0px;
  border:none;
  background:none;
  margin:0px;
  height: 450px;
  border-bottom:solid 40px #38AEF7;
}
#myLocationDisplay .gmw-yl-map-section-wrapper{
  width:60%;
}
#myLocationDisplay #gmw-yl-map-title{
  width:60%;
}
#myLocationDisplay .map-wrapper{
  width:60%;
}
#myLocationDisplay #gmw-yl-map{
  height:320px;  
}

#myLocationDisplay .gmw-yl-address_autocomplete-section-wrapper{
  width: 375px;
  position:absolute;
  top:5px;
  right:0px;
  padding-right:60px;
}
#myLocationDisplay #gmw-yl-manuall-section{
  width: 375px;
  position:absolute;
  bottom: -40px;
  right:0px;
  padding-right:60px;
}
#myLocationDisplay #gmw-yl-address-tab-wrapper{
  margin-bottom:0px;
}
#myLocationDisplay #gmw-yl-locator-btn{
  margin-left:12px;
}
#myLocationDisplay #gmw-your-location-wrapper .field-title{
  padding-left:10px;
  font-weight:bold;
  color:#38AEF7;
}
#myLocationDisplay #gmw-yl-tabs-section{
  color:#266D83;
}
#myLocationDisplay #gmw-your-location-wrapper div#gmw-yl-message{
  position:absolute;
  right:60px;
  margin-top:0px;
  width:375px;
}
#myLocationDisplay #gmw-yl-message p{
  margin:0px;
  color:green;
}
#myLocationDisplay > #gmw-your-location-wrapper > #gmw-yl-form > #gmw-yl-manuall-section > #gmw-yl-tabs-section > #gmw-yl-address-tab-btn-wrapper > input#gmw-yl-get-latlng,
#myLocationDisplay input#gmw-yl-get-address{
  background-image:url("_img/classcode_pictos/profil/i-localisation.png");
  background-repeat:no-repeat;
  background-position:40px; 
  background-color:#266D83;
  color:white;
  font-weight:bold;
  text-transform: uppercase;
  font-family: Arial,sans-serif;
  height:40px;
  font-size:16px;
  margin-top:0px;
  border:none;
  width:435px; 
}
#profilSubmitFooter, #classCodeMeetingSubmitFooter, #classCodeMeetingSubmitFooterMultiple{
  height: 100%;
  background-color:#266D83;
  color:white;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  line-height:40px;
}
 #classCodeMeetingSubmitFooterMultiple{
   padding-left:65px;
 }
#profilSubmitFooter, #classCodeMeetingSubmitFooter{
  background-image:url("_img/classcode_pictos/profil/i-modifier.png");
  background-repeat:no-repeat;
  background-position:465px; 
}

#profilSubmitFooter a, #classCodeMeetingFooter a, #classCodeMeetingFooterMultiple a{
  text-transform: uppercase;
  color:white;
  font-weight:bold;    
  text-decoration: none;
  font-size: 16px;
}
#profilSubmitFooter a, #classCodeMeetingFooter a{
  display: block;
  padding-left: 500px;
}
#classCodeMeetingFooterMultiple a{
  display:inline-block;
  padding-left:20px;
  padding-right:20px;
}
#classCodeMeetingFooterMultiple img{
  vertical-align:middle;
  padding:0px;
  margin-right:3px;
}

#buddypress{
  min-width: 1100px;
}
#item-body{
  width:100%;
}

.classCodeButton{
    background-color: #266d83;
    color: white;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    text-transform: uppercase;
    padding: 5px;
    display: block;
    border: 1px solid;
    text-align:center;
}
.classCodeButton a{ 
  color: white;
}

#classCodeMeetingHeader{
  font-size:0px;
  background-color:#54CA90;
}
/* Créer une réunion */
#classCodeMeetingActions{
  text-transform: uppercase;
  background-color:#54CA90;
  height:100%;
  margin-bottom:1px;
  background-image:url("_img/classcode_pictos/profil/img-guide.png");
  background-repeat:no-repeat;
  background-position: 0% 50%;
  min-height:440px;
}

#classCodeMeetingActions h2 {
  color:white;
  padding-left:160px;
  padding-top:32px;
  padding-bottom:40px;
}
#classCodeMeetingActions a{
  font-size:16px;
}

#classCodeMeetingAction1{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-01.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#classCodeMeetingAction2{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-02.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#classCodeMeetingAction3{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-03.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#classCodeMeetingCreate{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-15_green.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}


#classCodeMeetingVisualizeAction1{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-02.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#classCodeMeetingVisualizeAction2{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-19.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#classCodeMeetingVisualizeAction3{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-03.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}

#classCodeMeetingActionsFooter, #classCodeMeetingTierceActionsFooter, #classCodeMeetingMapFooter{
  background-color:#54CA90;
  height: 100%;
}
#classCodeMeetingMapFooter a{
 line-height: 40px;
 text-align:center;
}
#classCodeMeetingMapFooter a{
  color:white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
#classCodeMeetingMapFooter a:hover{
  background-color:#B3B3B3;
  cursor: pointer;
}
#classCodeMeetingTierceActionsFooter.invitation{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-15.png");
  background-repeat:no-repeat;
  background-position: 140px 50%;
  position:relative;
}
#classCodeMeetingTierceActionsFooter img{
  padding:0px;   
}
#classCodeMeetingTierceActionsFooter a{
  position:absolute;
  right:40px;
  top:5px;
  cursor:pointer;
}
#classCodeMeetingTierceActionsFooter input{  
  margin-left:205px;
  width:450px;
  border:none;
  height:30px;
  padding: 0 5px;  
  position:absolute;
  top:5px;
}

#profilDisplay div.gmw-sl-wrapper, #docProfilDisplay div.gmw-sl-wrapper{
  margin-bottom:0px;
}

#classCodeMeetingMain{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-04.png");
  background-repeat:no-repeat;
  background-position: 0px 30px;
  margin-top:20px;
}
#classCodeMeetingMainHeader{
  height:185px;   
  border-bottom:20px solid;
  border-bottom-color:#54CA90;
  padding-left:160px;
}

#classCodeMeetingMainDisplay{
  font-size:0px;
  position: relative;
}
#classCodeMeetingMap, #classCodeMeetingMainDisplay{
  height:480px;  
}
#classCodeMeetingAddress{
  padding-top:30px;
  padding-left:1%;
}
#classCodeMeetingAddress label{
  color:#266D83;
  font-weight:bold;
  font-size:16px;
}
#classCodeMeetingAddressDesc {
  padding-left:1%;
  padding-top:50px;
}
#classCodeMeetingAddressDesc h3, #classCodeMeetingSearchDesc h3{
  text-transform:uppercase;
  color:#54CA90;
  margin-bottom:0px;
}
#classCodeMeetingDescModule{
  background-color:#54CA90;
  color:white;
  /* viré par vthierry background-image:url("_img/classcode_pictos/meeting/img-23.png"); */
  background-repeat:no-repeat;
  background-position:10px 2px;
  padding-left:60px;
  padding-bottom:15px;
  position:absolute;
  top: 0px;
  right: 0px;
  line-height:30px;
  display:block;
  text-transform:uppercase;
  font-weight:bold;
  font-size:18px;
  width:420px;
}
#classCodeMeetingDescAddress{
  font-weight:bold;
}
#classCodeMeetingDescOrg,#classCodeMeetingDescStruc{
  font-weight:bold;
  text-transform:uppercase;
}
#classCodeMeetingDescTime{
  position:absolute;
  width:468px;
  bottom: 0px;
  right:0px;
}
.classCodeMeetingDescTimeTitle{
  font-size:14px;
}
.classCodeMeetingDescTime{
  display:block;
  background-color:#54CA90;
  color:white;
  padding:10px 15px;
  margin-top:10px;
  margin-bottom:10px;
}
.classCodeMeetingDescTimecontent{
  font-size:16px;
  font-weight:bold;
}
.classCodeMeetingAddressInput{
  background-color:#ECECEC;
  border:none;
  width:300px;
  height:20px;
  padding-left:5px;
}

textarea.classCodeMeetingAddressInput{
  height:100px;
}
.meetingMapInfoTitle{
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
}
#classCodeMeetingMapUpdate{
 /* background-image: url("_img/classcode_pictos/meeting/Img-rencontre-09.png"); 
  background-repeat:no-repeat;
  background-position:5% 50%; */
  background-color:#266D83;
  color:white;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  line-height:40px;
  padding-left:0px;
  width:40%;
}

#classCodeMeetingMapUpdate a:hover{
 /* background-image: url("_img/classcode_pictos/meeting/Img-rencontre-09.png"); 
  background-repeat:no-repeat;
  background-position:5% 50%;  */
  background-color:#B3B3B3;
  cursor: pointer;
}

#classCodeMeetingMapUpdate a, #classCodeMeetingRegister a,#classCodeMeetingMapSearch a{
  text-transform: uppercase;
  color:white;
  font-weight:bold;  
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding-left:70px;
}
 #classCodeMeetingRegister a,#classCodeMeetingMapUpdate a{
  padding-left:20px;
}

#classCodeMeetingRegister{
  color:white;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  line-height:40px;
  padding-left:0px;
  width:40%;
}
#classCodeMeetingRegister a:hover {
  background-color:#B3B3B3;
  cursor: pointer;
}
#anchorSearchform{
}
#classCodeMeetingMapSearch{
  background-image: url("_img/classcode_pictos/meeting/fleche-recherche-13.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
  background-color:#266D83;
  color:white;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  line-height:40px;
  padding-left:0px;
  width:40%;
}

#classCodeMeetingMapSearch a:hover{
  background-image: url("_img/classcode_pictos/meeting/fleche-recherche-13.png");
  background-repeat:no-repeat;
  background-position:5% 50%;  
  background-color:#B3B3B3;
  cursor: pointer;
}


#classCodeMeetingSecondary{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-05.png");
  background-repeat:no-repeat;
  background-position: 0px 20px;
  margin-top:20px;
}
#classCodeMeetingSecondaryHeader{
  height:290px;   
  border-bottom:20px solid;
  border-bottom-color:#54CA90;
  padding-left:160px;
}
#classCodeMeetingSecondaryDisplay{
  margin-top:0px;
  background-color:#54CA90;
  height:320px;
}
#classCodeMeetingModule{
  width:900px;
  padding-top:25px;
  padding-bottom:25px;
  margin-left:150px;
}
#classCodeMeetingModuleHeader{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-10.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  background-color:#54CA90;
  text-transform: uppercase;
  color:white;
  height:25px;
  font-weight:bold;
  text-align:left;
  padding-left:35px;
  padding-top:5px;
}
#classCodeMeetingModuleDisplay{
  background-color:white;
  height:80px;
  padding: 0px 5px;
}
#classCodeMeetingModuleDisplay > input#rencontre_module{
  background-color:#ECECEC;
  height:60px;
  width:420px;;
  border: none;
  padding-left:5px;
  color:#5D5D5D;
}
#classCodeMeetingModuleDisplay > .moduleChoice{
  display:inline-block;
  margin:10px 5px;
  background-color:#FECD1B;
  color:white;
  padding:20px;
  font-weight:bold;
  font-size:18px;
  cursor:pointer;
}
#classCodeMeetingModuleDisplay > .moduleChoice:hover{
  background-color:#999999;
}
#classCodeMeetingModuleDisplay > .moduleChoiceChecked{
  background-color:#54CA90;
  display:inline-block;
  margin:10px 5px;
  color:white;
  padding:20px;   
  font-weight:bold;
  font-size:18px;
}

#classCodeMeetingTimes{
  width:900px;
  padding-top:25px;
  padding-bottom:25px;
  margin-left: 150px;
}
#classCodeMeetingTime1{
  margin-right:12px;
}
#classCodeMeetingTime2{
  margin-left:12px;
}
.classCodeMeetingTime{
  display:inline-block;
  width:435px;
}
.classCodeMeetingTimeHeader{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-10.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  background-color:#54CA90;
  text-transform: uppercase;
  color:white;
  height:25px;
  font-weight:bold;
  text-align:left;
  padding-left:35px;
  padding-top:5px;
}

.classCodeMeetingTimeDisplay{
  background-color:white;
  padding: 10px ;
  line-height:13px;
}
.classCodeMeetingTimeDisplay label{
  margin-right:10px;
  margin-left:10px;
  color:#266D83;
  font-weight:bold;
}
.classCodeMeetingTimeDisplay input{
  background-color:#ECECEC;
  border: none;
  font-style:italic;
  color:#5D5D5D;
  height:20px;
}
.classCodeMeetingDateInput{
  width:100px;
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-12.png");
  background-repeat:no-repeat;
  background-position: 100% 0%;

}

/*datepicker position*/
.ui-datepicker-div { 
  margin-bottom: 100px;
  z-index: 1000;
}
/* endDatepicker*/

.classCodeMeetingTimeInput{
  width:60px;
}

#classCodeMeetingResources{
  width:900px;
  padding-top:25px;
  margin-left: 150px;
  vertical-align:top;
}

.classCodeMeetingResource{
  
  display:inline-block;
  width:292px;
  margin-right:5px;
  vertical-align: top;
}

#classCodeMeetingPad{
  margin-right:0px;
}
.classCodeMeetingResourceHeader{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-11.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  background-color:#54CA90;
  text-transform: uppercase;
  color:white;
  height:25px;
  font-weight:bold;
  text-align:left;
  padding-left:35px;
  padding-top:5px;
}

.classCodeMeetingResourceDisplay{
  background-color:white;
  padding: 10px ;
  height:120px;
  text-align:center;
  line-height:25px;
  background-image: url("_img/classcode_pictos/meeting/resources_background.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
#classCodeMeetingPad .classCodeMeetingResourceDisplay{
  background-image: url("_img/classcode_pictos/meeting/resources_background_grey.png");
}
.classCodeMeetingResourceDisplay label{
  font-size:30px;
  font-weight:bold;
  color:#54CA90;
  text-transform:uppercase;
}
.classCodeMeetingResourceDisplay input{
  background-color:#ECECEC;
  border: none;
  font-style:italic;
  color:#5D5D5D;
  width:250px;
  height:20px;
}

#classCodeMeetingResourcesConsultation{
  background-color: white;
  background-image: url("_img/classcode_pictos/meeting/Img-rencontre-22.png");
  background-position: left top;
  background-repeat: no-repeat;
  font-size: 0;
  padding-bottom: 30px;
  padding-top: 10px;
}

#classCodeMeetingResourcesConsultationHeader{
  margin-top:60px;
  margin-left: 160px;
  font-size:14px;
  width:880px;
  margin-bottom:20px;
}

#classCodeMeetingResourcesConsultationModule{
  font-size:16px;
  color:white;
  font-weight:bold;
  text-transform:uppercase;  
  background-color:#266D83;
  margin-left: 160px;
  width:880px;
  padding:10px 15px;
  display:inline-block;
  margin-bottom:20px;
}
#classCodeMeetingResourcesConsultationModule.existingModule{
  background-image: url("_img/classcode_pictos/meeting/img-19.png");
  background-position: 98% 50%;
  background-repeat: no-repeat;
}
#classCodeMeetingResourcesConsultationModule a{
  font-size:16px;
  color:white;
  font-weight:bold;
}

#classCodeMeetingResourcesConsultationDisplay{
  margin-left: 140px;
}
.classCodeMeetingResourcesGreenBox{
  background-color:#54CA90;
  color:white;
  width:250px;
  height:200px;
  margin-left:20px;
  text-align:left;
  display:inline-block;
  padding: 10px 20px;
}
.classCodeMeetingResourcesGreenBox span{
  padding-left:80px;
}
.classCodeMeetingResourcesGreenBoxText{
  font-size:14px;
  margin-top:30px;
}

.classCodeMeetingResourcesGreenBox label{
  font-size:20px;
  font-weight:bold;
  text-transform:uppercase;
  cursor:pointer;
}

#classCodeEmbededNotepad{
  margin-top:10px;
  margin-left: 160px;
  width:880px;
  margin-bottom:10px;
}

#classCodeMeetingTierce{
  background-image:url("_img/classcode_pictos/meeting/Img-rencontre-06.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  margin-top:20px;
  padding-bottom:40px;
}
#classCodeMeetingTierceHeader{
  min-height:155px;     
  border-bottom-color:#54CA90;
  padding-left:160px;
}
.classCodeMeetingTierceHeader{
  border-bottom:60px solid;
}
.classCodeMeetingSecondaryHeaderSearch{
  border-bottom:10px solid;
}
#classCodeMeetingTierceDisplay{
  position:relative;
  height:460px;
}
#classCodePixeesTierceDisplay{
  position:relative;
  min-height:460px;
}
#classCodeMeetingAttendeeList{
  overflow-x: hidden; 
  overflow-y: scroll;
  word-wrap:break-word;
  position:absolute;
  top: -40px;
  left:0px;
  background-color:#ECECEC;
  height:500px;
}

#classCodePixeesList{
  background-color:#ECECEC;
  min-height:460px;
}

#classCodeMeetingAttendeeCheck{
  background-image:url("_img/classcode_pictos/meeting/img-23.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  padding-left:40px;
  position:absolute;
  top: -40px;
  right: 200px;
  background-color:#54CA90;
  line-height:30px;
  display:block;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
  font-size:18px;
}
#classCodeMeetingAttendeeProfilDisplay{
  position:absolute;
  top: 0px;
  left: 61%;
}

#classCodeMeetingContactGroupe{
  background-image: url("_img/classcode_pictos/meeting/Img-rencontre-17.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
  background-color:#266D83;
  color:white;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  height:40px;
  line-height:40px;
}
#classCodeMeetingContactGroupe a{
  text-transform: uppercase;
  color:white;
  font-weight:bold;  
  display: block;
  padding-left: 70px;
  text-decoration: none;
  font-size: 16px;
}
#classCodeMeetingContactGroupe a:hover{
  background-image: url("_img/classcode_pictos/meeting/Img-rencontre-17.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
}
.classCodeContactUserInProfile { 
  display:inline-block;
  background-color:#266D83;
  background-repeat:no-repeat;
  background-position:50% 50%;
  margin-left:10px;
  background-image: url("_img/classcode_pictos/meeting/Img-rencontre-17.png");
  height:36px;
  width:38px;
}

#meetingList{
  background-color:#54CA90;
  width:1200px;
  border: none;
}
#meetingList > tbody{
  background-color:white;
}
#meetingList td, #meetingList th{
  border: none;
  padding:2px 5px;
  min-width:140px;
}

#meetingList th > a > img{
  vertical-align: middle;
}
#meetingList th.sortable{
  cursor: pointer;
}
.meetingListHeaderDefault{
  color:white;
}
.meetingListHeaderDefault span{
  background-image: url("_img/classcode_pictos/meeting/img-20.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
}
#meetingListHeader .headerSortDown{
  color:black;
}
#meetingListHeader .headerSortDown span{  
  background-image: url("_img/classcode_pictos/meeting/img-20_black_inverse.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
}
#meetingListHeader .headerSortUp{
  color:black;
}
#meetingListHeader .headerSortUp span{  
  background-image: url("_img/classcode_pictos/meeting/img-20_black.png");
  background-repeat:no-repeat;
  background-position:5% 50%;
}
#meetingListHeader{
  text-transform:uppercase;
  color:white;
}
#meetingList .odd{
  background-color:white;
}
#meetingList .even{
  background-color:#ECECEC;
}
.meetingListStructure{
  font-weight:bold;
}
.meetingListLieu{
  cursor:pointer;
  display:block;
}
.meetingListDate{
  text-align:center;
}
#meetingListFooter { 
  background-color:#54CA90;
  width:100%;
  height:38px;
}
#postMeetingList{
  border-top: 4px solid #54CA90;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 160px;
}
.alertList{
  padding-top:5px;
}
.alertList td{
  padding-bottom:10px;
  padding-right:20px;
}
.meetingShow {
  padding:0px;
}
.meetingShow a{
  display:block;
  background-color:#266D83;
  color:white;
  text-transform:uppercase;
  padding:2px 5px;
}
.meetingShowOrganizer a{
  background-color:#54CA90;
}
.meetingShowAttendee a{
  background-color:#38aef7;
}

#classCode_meeting .classCodeButton{
  width:200px;
}

#classCode_meeting{
  background-image:url("_img/classcode_pictos/profil/img-lieu.png");
  background-repeat:no-repeat;
  background-position: 0% 0%;
  padding-bottom:30px;
  color:#266d83;
  background-color:white;
  width: 780px;
  min-height:300px;
}
#classCode_meeting h2{

}
#classCode_meeting{
  padding-left:160px;
  width: 960px;
  position: relative;
}

#classCode_meeting > #buddypress{
  min-width:auto;
}


#classCode_meeting div.gmw-fl-grid-gray-results-wrapper ul.members-list-wrapper li .top-wrapper h2.user-name-wrapper a{
  color:#266d83;
}
#classCode_meeting div.gmw-fl-grid-gray-results-wrapper .bottom-wrapper{
  background-color:#f8f8f8;
}
.meeting_editLink{
  display:inline;
  position: absolute;
  right: 0px;
  top:0px;

}
.meeting_editLink a{

}

#comments{
  padding-left:160px;
  margin-right:0px;
}

.meeting_label{
  font-weight:bold;
  text-transform: uppercase;
  display:inline;
  
}

.meeting_label_title{
  font-weight:bold;
  text-transform: uppercase;
  
}

.meeting_value{
  color:black;
  font-style:italic;
  display:inline;
}
div#classCode_meeting div.gmw-nbl-results-wrapper.type-posts.template-lightcoral ul.locations-list  li.category-reunions-classcode a{
  color: #266d83;
}


#subnav, #cover-image-container,#item-nav, #settings-form,#account-delete-form,#message,.classcode > #buddypress > #item-body > form#whats-new-form{
  padding-left: 16%;
  padding-right:16%;
}
#notifications-personal-li{
  display:none;
}
#profile-personal-li{
  display:none;
}

/* Style des popdown. */
.popdown { margin:-18px 0px 0px;}
.popdown-list > .popdown > .popdown-include {  padding-left:170px !important; }
.popdown-list > .popdown > .popdown-include-body {  padding-left:170px !important; }
.popdown-include { background-color:#F0F0F0;color:#266D83;font-size:18px; font-weight:bold;text-transform:uppercase;min-height:40px;line-height:40px;}
.popdown-include > a { color:#266D83; }
.popdown-include > a:hover { color:#808080; }
.popdown-include-body { background-color:#FFF; padding:10px;}
.popdown-include-body > div > p { background-color:#FFF; padding:10px 20px 0px;}
.popdown-inline { background-color:#27CFD0;font-weight:bold;min-height:40px;line-height:40px; margin:25px 0px;}
.popdown-inline > a { font-weight:bold;color:#ffffff; }
.popdown-inline > a:hover { font-weight:bold;color:#808080; }
.popdown-inline-body { background-color:#ECECEC; font-size:14px; padding:0px 20px 10px;}
.meta_box { color:#000; }


#docHeader {
  text-transform: uppercase;
  background-color:#26CFCF;
  height:100%;
  width:60%;
  background-image:url("_img/classcode_pictos/profil/img-guide.png");
  background-repeat:no-repeat;
  background-position: 0% 50%;
  min-height:310px;
}
#docProfilDisplay{
  width:49%;
}
.docHeaderItem {
  background-color:white;
  color:#266D83;
  font-size:22px;
  height: 60px;
  margin:5px 1px 5px 250px;
  padding-left:20px;
  padding-top:20px;
  padding-right:70px;
  font-weight:bold;
  display:block;
}

#docHeader > h1 {
 color: #fff;
 padding: 30px 0px 0px 200px;
 font-size: 42px;
 font-weight: bold;
}

.actualiteAction1{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-10.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#actualiteAction1{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-14.png");
  background-repeat:no-repeat;
  background-position:left top;
  padding-top:10px;
  padding-left:16%;  
  padding-right:16%;
  min-height: 350px;
}
.actualiteAction2{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-11.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#actualiteAction2{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-15.png");
  background-repeat:no-repeat;
  background-position:left top;
  padding-top:10px;
  padding-left:16%;  
  padding-right:16%;
}
.actualiteAction3{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-12.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#actualiteAction3{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-15.png");
  background-repeat:no-repeat;
  background-position:left top;
  padding-top:10px;
  padding-left:16%;  
  padding-right:16%;
}
.visiteAction1{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-07.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
.visiteAction2{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-09.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
.visiteAction3{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-08.png");
  background-repeat:no-repeat;
  background-position: right bottom;
}
#aideAction1{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-06.png");
  background-repeat:no-repeat;
  background-position:left top;
  padding-top:10px;
  padding-left:16%;  
  padding-right:16%;
}
.sendmail{
  color:white;  
  background-color:#266d83;
  font-size:16px;
  font-weight:bold;
  text-transform: uppercase;
  cursor: pointer;
}
#aideAction2{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-16.png");
  background-repeat:no-repeat;
  background-position:left top;
  padding-top:10px;
  padding-left:16%;  
  padding-right:16%;
}
#aideAction3{
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-16.png");
  background-repeat:no-repeat;
  background-position:left top;
  padding-top:10px;
  padding-left:16%;  
  padding-right:16%;
}
#class_code_user_avatar_save {
  background-color:white;
  margin: 40px auto;
  padding: 5px;
}
h1.module-title { 
  color: #256D81;  
  font-size:24px;
  padding-top:20px;
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-22.png");
  background-repeat:no-repeat;
  background-position:right;
  height:50px;
}
h2.module-objectifs {
  background-color:#27CFD0;
  text-transform: uppercase;
  font-weight:bold;
  color:black;
  font-size:22px;
  height:25px;
  width:100%;
  padding:5px;
}
ul.module-objectifs { 
  background-color:#ECECEC; 
  list-style: none; 
  width:100%;
  margin:0px;
  padding:0 0 0 10px;
}
ul.module-objectifs > li:before {
  content: "> "; 
}
ul.module-objectifs > li {
  line-height:25px;
}
div.module-lien-cours { 
  background-color:#999999;
  width:100%;
  padding-right:10px;
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-17.png");
  background-repeat:no-repeat;
  background-position: 5px 50%;
}
div.module-lien-cours > a { 
  display:block;
  color:white;
  line-height:25px;
  font-weight:bold;
  width:95%;
  padding: 8px 0px 8px 40px;
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-19.png");
  background-repeat: no-repeat;
  background-position: right;
}
div.module-lien-rencontre { 
  background-color:#999999;
  width:100%;
  padding-right:10px;
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-18.png");
  background-repeat:no-repeat;
  background-position: 5px 50%;
}
div.module-lien-rencontre > a { 
  display:block;
  color:white;
  line-height:25px;
  font-weight:bold;
  width:95%;
  padding: 8px 0px 8px 40px;
  background-image:url("_img/classcode_pictos/classcode_ecrans/img-19.png");
  background-repeat: no-repeat;
  background-position: right;
}
div.module-lien-cours:hover { 
  background-color:#808080;
}
div.module-lien-rencontre:hover { 
  background-color:#808080;
}
h2.module-partie { 
  background-color:#266D83;
  text-transform: uppercase;
  font-weight:bold;
  color:white;
  font-size:20px;
  height:25px;
  width:100%;
  padding:5px;
}
ul.module-partie { 
  background-color:#ECECEC; 
  list-style: none; 
  width:100%;
  margin:0px;
  padding:0px 10px 0px 0px;
  line-height:35px;
}
ul.module-partie > li {
  padding-left:10px;
}
ul.module-partie > li > a { 
 color: black;
}
ul.module-partie > li:hover { 
  background-color:#FFF;
}
.start-with {  
  display:inline-block;
  background:url("_img/classcode_pictos/start-with.png");
  background-size: 30px 25px;
  width:30px;
  min-width:30px;
  height:25px;
  min-height:25px;
  float:right;
}
p.module-video { 
  padding-left:10px;
}
a.module-video:before { 
  content:url("_img/classcode_pictos/classcode_ecrans/img-21.png");
  width:35px; 
  height:25px; 
}
a.module-video { 
  padding-left:10px;
  display:inline-block; 
  height:25px; 
  font-size:14px;
}
li.module-partie-mail { 	
  background:url("_img/classcode_pictos/i-aide-mail.png");
  background-size: 30px 25px;
  background-repeat: no-repeat;
  padding-left:35px !important;
} 
li.module-partie-page { 
  background:url("_img/classcode_pictos/i-aide-page.png");
  background-size: 30px 25px;
  background-repeat: no-repeat;
  padding-left:35px !important;
} 

.cptch_block { 
  padding-left:52px;
  color: #266D83;
  font-weight: bold;
}
article.post {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
article > header > h2 {
  font-size:20px;
}
.synved-social-resolution-hidef {
    display: none;
}
